.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 70px;
}
@media only screen and (max-width: 781px)  {
    .container {
        padding: 0 20px;
    }
}
